
body{
    background-color: whitesmoke;
}

/* css for card container box  */
.card-container{
    height:80px;
    width:440px;
    background-color:#ffffff;
    margin-top:20px;
    display:hidden; 
    cursor: pointer;
    transform: translate(122%, 50%);
    }

    .image{
    height:40px;
    width: auto;
    border-radius:50%;
    }

    .name{
    font-size:14px;
    font-family: 'Bungee', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Passion One', cursive;
    margin-left: 15px;
    margin-right: 20px;
    }  
    .signal{
    height:10px;
    width: 10px;
    border-radius:50%;
    background-color:rgb(0, 165, 0);
    }
  .status{
    font-size:14px;
    margin-left: 10px;
    margin-top: 12px;
    font-family: 'Noto Sans', sans-serif;
  }
  
/* css for modal */
  .modal-img{
      height:100px;
      width: 100px;
      border-radius:50%;
  }

  .title-container{
      margin-left: 40px;
      margin-top: 20px;
  }

  .modal-name{
    font-size:22px;
    font-family: 'Bungee', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Passion One', cursive;
} 
  .modal-signal{
    height:10px;
    width: 10px;
    margin-top:20px;
    border-radius:50%;
    background-color:rgb(0, 165, 0);
}

.modal-status{
    font-size:14px;
    margin-left: 15px;
    margin-top: -16px;
    font-family: 'Noto Sans', sans-serif;
  }
  .first-box{
      margin-left:20px;
  }
  .second-box{
      margin-left:100px;
  }
  
.modal-bio{
    font-size:12px;
    font-family: 'Noto Sans', sans-serif;
    color:#aaa;
    margin-bottom: 0px;
}
h6{
    font-size:16px;
    font-family: 'Bungee', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Passion One', cursive;
}